
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PennCycle | {% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/responsive.css" rel="stylesheet">
    <!--<link rel="stylesheet/css" type="text/css" href="media/css/bootstrap.css">-->
    <!--<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>-->
    <!--<link href="/media/css/responsive.css" rel="stylesheet">-->
	<!-- more css -->
	{% block css %}
	{% endblock css %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!--<script src="media/js/less.js" type="text/javascript"></script>-->
  </head>

  <body>
    <img class="bg-image" src="media/img/philly.jpg" alt="" />
    <div class="container opaque">
      <div class="row">
        <div class="span3 flat">&nbsp;</div>
        <div class="span6 border">
          <img class="centered" src="media/img/PennCycle-Logo-3.png"/>
           <div class="navbar">
            <div class="navbar-inner">
              <div class="container" style="width: auto;">
                <ul class="nav1 nav">
                  <li id="home"><a href="../">Home</a></li>
                  <li id="signup"><a href="../signup">Sign Up</a></li>
                  <li id="reserve"><a href="../reserve">Reserve a Bike</a></li>
                  <li id="admin"><a href="../pc-admin/app/ride">Admin</a></li>
                </ul>
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        </div>
        <div class="span3 flat">&nbsp;</div>
      </div>
      <hr>
      
     
      
      <div class="row">
        <div class="span3 flat">&nbsp;</div>
        <div class="span6 border">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span3 flat">&nbsp;</div>
      </div>
      <hr>
      <div class="row"><p class="textCentered">PennCycle 2012</p></row>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>

	<!-- more scripts -->
	{% block scripts %}
    {{scripts}}
	{% endblock scripts %}
	
  </body>
</html>

