{% extends 'base.html' %}

{% block title %}
  {{block.super}} Home
{% endblock %}

{% block content %}
  <h1>Welcome to PennCycle</h1>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // set background for active tab in navbar    
    $('.nav1 li#home').addClass('active');
  </script>
{% endblock %}