{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <style type="text/css">
  .ridecycle{
    position:relative; 
    float:right;
    top: -100px; 
    right: 0px;
    line-height:0px;
    text-align:center;
    overflow:hidden;
    height:90px; width:300px;
  }
  .ridecycle:hover {
    border-color:blue;
  }
  </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
<script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" 
    type="text/javascript"></script>
<script type="text/javascript">
function do_action(action) {
    $('div.actions option[selected]').attr('selected', '');
    $('div.actions option[value='+action+']').attr('selected', 'selected');
    //$('div#changelist form').submit();
    $('button[name="index"]').click();
}
$(document).ready(function(){
  var replacement = '<a class="button" style="cursor:pointer;">Check In</a>'
  $('td:contains("out")').click(function(){
    var selectbox = $(this).parent().children('td:first').children('input:first');
    var id = selectbox.attr('value');
    selectbox.click();
    do_action('check_in');
  });
  $('td:contains("out")').html(replacement);
});
function fix_actions() {
    //$('th.action-checkbox-column:first').prepend('select<br />all<br />');
    if ($('div.actions option:gt(0)').length<=8) { // Only do this for short lists.
        //$('div.actions').css('border-bottom', '0');
        
        //$('div.actions label, div.actions button').hide();
        actions_html='<div id="action_buttons" style="padding: 2px 0 2px 0;">';        
        $('div.actions option:gt(0)').each(function(i) {
            actions_html+='<a href="javascript:void(0);" onclick="do_action(\''+this.value+'\');">'+this.text+'</a>';
        });
        actions_html+='</div>';        
        $('div.actions').append(actions_html);
        $('div.actions').css('font-size', '9px');
        $('div.actions').css('font-weight', 'bold');
        $('div.actions a:link').css('background-color', 'white');
        $('div.actions a:link').css('padding', '2px 3px');
        $('div.actions a:link').css('margin', '1px 2px 1px 0');
        $('div.actions a:link').css('border', '1px outset #efefef');
        $('div.actions a:link').css('text-transform', 'uppercase');
        $('div.actions a:link').css('display', 'block');
        $('div.actions a:link').css('float', 'left');
        $('div.actions a:link').css('white-space', 'nowrap');
        $('div.actions').after('<div style="clear: both;"></div>');
    }
}
$(document).ready(function(){
  $('br.clear').remove();
});
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo;
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
              
            </li>
          {% endblock %}
        </ul>
        {% if cl.opts.verbose_name = 'ride' %}
        <a href="add/" class="button ridecycle">
          <h2>Check out</h2>
          <img src="media/img/PennCycle Logo 3 smallest-03.png" class="">
        </a>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
